/node_modules
# .env
package-lock.json
public/videos/*

!public/videos/DIBVp5cVvl5rRPHzOyRVaa1j6FWOiuEWvi9Hy0CO2J1dX2yU26wls4RjFlDKCHsj.webm
!public/videos/fBsJXF7NU11dq1l7cx4iI56uYaQRcUsPDoTHaWC5w4FMJ4YEHoikzK3oVvUY5f82.webm